USE [master]
GO
/****** Object:  Database [Campeonato_App_Grupo4]    Script Date: 24/07/2020 22:52:18 ******/
CREATE DATABASE [Campeonato_App_Grupo4]
GO
USE [Campeonato_App_Grupo4]
GO
/****** Object:  Table [dbo].[Jogador]    Script Date: 24/07/2020 22:52:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jogador](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](255) NOT NULL,
	[Nascimento] [datetime] NOT NULL,
	[Posicao] [varchar](255) NOT NULL,
	[QTDEFaltas] [int] NOT NULL,
	[QTDECartoesAmarelo] [int] NOT NULL,
	[QTDECartoesVermelho] [int] NOT NULL,
	[QTDEGols] [int] NOT NULL,
	[Informacoes] [text] NOT NULL,
	[NumeroCamisa] [int] NOT NULL,
	[Foto] [image] NULL,
	[SelecaoID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jogo]    Script Date: 24/07/2020 22:52:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jogo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SelecaoCasa] [int] NULL,
	[SelecaoVisitante] [int] NULL,
	[PlacarCasa] [int] NOT NULL,
	[PlacarVisitante] [int] NOT NULL,
	[PenaltisCasa] [int] NOT NULL,
	[PenaltisVisitante] [int] NOT NULL,
	[Data] [datetime] NULL,
	[Estadio] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Selecao]    Script Date: 24/07/2020 22:52:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Selecao](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](255) NOT NULL,
	[Bandeira] [image] NULL,
	[Uniforme] [image] NULL,
	[Escalacao] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 24/07/2020 22:52:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](255) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Apelido] [varchar](255) NOT NULL,
	[Foto] [image] NULL,
	[Senha] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Jogador] ON 

SET IDENTITY_INSERT [dbo].[Jogador] OFF
SET IDENTITY_INSERT [dbo].[Jogo] ON 

INSERT [dbo].[Jogo] ([Id], [SelecaoCasa], [SelecaoVisitante], [PlacarCasa], [PlacarVisitante], [PenaltisCasa], [PenaltisVisitante], [Data], [Estadio]) VALUES (1, 1, 2, 3, 2, 1, 1, CAST(N'2020-04-10T00:00:00.000' AS DateTime), N'Bernabeu')
INSERT [dbo].[Jogo] ([Id], [SelecaoCasa], [SelecaoVisitante], [PlacarCasa], [PlacarVisitante], [PenaltisCasa], [PenaltisVisitante], [Data], [Estadio]) VALUES (2, 3, 2, 3, 3, 1, 1, CAST(N'2020-04-11T00:00:00.000' AS DateTime), N'Pacaembu')
INSERT [dbo].[Jogo] ([Id], [SelecaoCasa], [SelecaoVisitante], [PlacarCasa], [PlacarVisitante], [PenaltisCasa], [PenaltisVisitante], [Data], [Estadio]) VALUES (3, 4, 2, 3, 5, 1, 1, CAST(N'2020-04-12T00:00:00.000' AS DateTime), N'San Siro')
SET IDENTITY_INSERT [dbo].[Jogo] OFF
SET IDENTITY_INSERT [dbo].[Selecao] ON 

SET IDENTITY_INSERT [dbo].[Selecao] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [Nome], [Email], [Apelido], [Foto], [Senha]) VALUES (1, N'Emorge', N'emorge@gmail.com', N'miagui', NULL, N'mingau')
INSERT [dbo].[Usuario] ([Id], [Nome], [Email], [Apelido], [Foto], [Senha]) VALUES (6, N'zxmega', N'zxmega@gmail.com', N'omega', NULL, N'1234')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__571DBAE62204982A]    Script Date: 24/07/2020 22:52:18 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Apelido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__A9D105342D39991B]    Script Date: 24/07/2020 22:52:18 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Jogador] ADD  DEFAULT ((0)) FOR [QTDEFaltas]
GO
ALTER TABLE [dbo].[Jogador] ADD  DEFAULT ((0)) FOR [QTDECartoesAmarelo]
GO
ALTER TABLE [dbo].[Jogador] ADD  DEFAULT ((0)) FOR [QTDECartoesVermelho]
GO
ALTER TABLE [dbo].[Jogador] ADD  DEFAULT ((0)) FOR [QTDEGols]
GO
ALTER TABLE [dbo].[Jogo] ADD  DEFAULT ((0)) FOR [PlacarCasa]
GO
ALTER TABLE [dbo].[Jogo] ADD  DEFAULT ((0)) FOR [PlacarVisitante]
GO
ALTER TABLE [dbo].[Jogo] ADD  DEFAULT ((0)) FOR [PenaltisCasa]
GO
ALTER TABLE [dbo].[Jogo] ADD  DEFAULT ((0)) FOR [PenaltisVisitante]
GO
ALTER TABLE [dbo].[Jogador]  WITH CHECK ADD FOREIGN KEY([SelecaoID])
REFERENCES [dbo].[Selecao] ([Id])
GO
ALTER TABLE [dbo].[Jogo]  WITH CHECK ADD FOREIGN KEY([SelecaoCasa])
REFERENCES [dbo].[Selecao] ([Id])
GO
ALTER TABLE [dbo].[Jogo]  WITH CHECK ADD FOREIGN KEY([SelecaoVisitante])
REFERENCES [dbo].[Selecao] ([Id])
GO
USE [master]
GO
